<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Muscles</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
    <link rel="stylesheet" href="/styles/about.css">

</head>
<body>
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"> <img src="../images/logo-new.jpeg" alt="website_icon" height="50"> FitCurl</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0" >
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Features</a>
          </li>
        </ul>
        <form class="d-flex" role="search" action="/login" method="post">
          <button class="btn btn-outline-success" type="submit">Login / Sign Up</button>
        </form>
      </div>
    </div>
  </nav>

  <div class="hero-section">
    <div class="img"> <img src="../images/hero-exercises.jpg" alt="exercise-photo" class="hero-img"></div>
    <div class="note">
      <span id="span">Our Missions</span>
      <h1 id="hero-h1">About FitCurls</h1>
      <p id="hero-p">FitCurls is a searchable database of exercises you can do at home, categorized by targeted muscle groups and exercise type.</p>
    </div>
  </div>

  <div class="about">
    <div class="inner-about">
      <h1>Our Goals</h1>
      <p id="padding">Provide concise how to guides on bodyweight, free weight, kettlebell, yoga and stretching exercises and workouts. Unlike the fitness article writing trend of using 5000 words when only 100 are necessary, our guides are free of editorial fluff and get right to the point. Each guide provides diagrams, images and animations to help provide accurate instruction on how to complete the given workout.</p>
      <p>Use the form below to contact us with any questions, comments, suggests, or business partnership ideas.</p>

      <form action="" class="forms">
        <label for="name"><span class="about-h1">Name</span></label>
        <input type="text" class="input"><br>
        <label for="email"><span class="about-h1">Email</span></label>
        <input type="text" class="input"><br>
        <label for="message"><span class="about-h1">Message/Suggestions</span></label>
        <textarea name="message" id="message"></textarea><br>

        <button type="button" class="btn btn-primary sub">Submit</button>
      </form>
    </div>
    
  </div>




  <!-- Footer -->
  <div class="container-fluid footer">
    <footer class="d-flex flex-wrap justify-content-start align-items-center py-3 my-4 border-top">
      <p class="col-md-4 mb-0 text-body-secondary"><span class="white">© 2024 Company, Inc</span></p>
     
    
      <a href="/" class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
        <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
      </a>
      
  
      <ul class="nav col-md-4 justify-content-end">
        <li class="nav-item" ><a href="#" class="nav-link px-2 text-body-secondary"><span class="white">Home</span></a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary"><span class="white">Features</span></a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary"><span class="white">Pricing</span></a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary"><span class="white">FAQs</span></a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary"><span class="white">About</span></a></li>
      </ul>
    </footer>
  </div>
    

    
</body>
</htm